/processed
/processed.masks
/dataset
/processed.images.2019
/processed.masks.2019
/processed.images.2017
/predicted.2017
/predicted.2017_preview
/predicted_mosaic_2017.tif
/predicted.2019
/predicted.2019_preview
/predicted_mosaic_2019.tif
