/dead_treed_proj.dbf
/dead_treed_proj.prj
/dead_treed_proj.shp
/dead_treed_proj.shx
/ortho_2019_ESPG3044.tif
#/shapefiles
/ortho_2017_ESPG3044.tif
/ortho_2017_ESPG3044_NIR.tif
/ortho_2019_ESPG3044_NIR.tif
/ortho_ms_2017_EPSG3044.tif
/ortho_ms_2019_EPSG3044.tif
